<div class="container">
     <div class="row">
        
                {{#each beerlist}}
                    
                    <div class="col-md-4 mb-3" >
                        <div class="card card-body" style="height: 500px">
                            {{>beerpartial}}
                        </div>
                    </div> 

                {{/each}}
            
    </div>
</div>